@model IEnumerable<IGrouping<BioskopApp.Data.ProgramOfEvents, BioskopApp.Data.Reservation>>

@{
    ViewBag.Title = "Rezervisane karte";
    Layout = "_Layout";
}

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h5 class="m-0 font-weight-bold text-primary">Rezervisane karte</h5>
            </div>
            <div class="card-body">
                @foreach (var ev in Model)
                {
                    var formateddate = ev.Key.Date.ToString("dd MMMM yyyy");
                    var formatedTime = ev.Key.Time.ToString("HH:mm tt");

                    <h6 style="font-weight: bold; color: black;">@ev.Key.Movie.Name, @formateddate, @formatedTime</h6>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        Korisnik
                                    </th>
                                    <th>
                                        Broj karata
                                    </th>
                                    <th>
                                        Cena pojedinačne karte
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var res in ev)
                            {

                        
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => res.User.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => res.NumberOfTickets)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => res.ProgramOfEvents.Price)
                                    </td>
                                </tr>

                        
                            }
                            </tbody>
                        </table>
                        </div>

                    }

            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  

