@model BioskopApp.Data.ProgramOfEvents

@{
    ViewData["Title"] = "Delete";
}
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- DataTales Example -->
          <div class="row">
              <div class="col-md-6">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Brisanje projekcije</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>
                                Ime filma
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Movie.Name)
                            </dd>
                            <dt>
                                Datum projekcije
                            </dt>
                            <dd>
                                @{var formateddate = Model.Date.ToString("dd MMMM yyyy");}
                                @Html.DisplayFor(modelItem => formateddate)
                            </dd>
                            <dt>
                                Vreme projekcije
                            </dt>
                            <dd>
                                @{var formateddate2 = Model.Time.ToString("hh:mm tt");}
                                @Html.DisplayFor(modelItem => formateddate2)
                            </dd>
                            <dt>
                                Ukupan broj karata
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Tickets)
                            </dd>
                            <dt>
                                Cena karte
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Price)
                            </dd>
                        </dl>
                        
                        <form asp-action="Delete">
                            <div>
                            <a class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                                </span>
                                <input type="hidden" asp-for="ID" />
                                 <input class="btn btn-success" type="submit" value="Obriši"/>
                            </a> 
                                <div class="my-2"></div>  
                                <a asp-action="Index" class="btn btn-secondary btn-icon-split">
                                    <span class="icon text-white-50">
                                    <i class="fas fa-arrow-left"></i>
                                    </span>
                                    <span class="text">Nazad na listu</span>
                                </a>    
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
              </div>
              </div>
