@model BioskopApp.Data.ProgramOfEvents

@{
    ViewData["Title"] = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Program repertoara</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ime filma
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Name)
        </dd>
        <dt>
            Datum projekcije
        </dt>
        <dd>
            @{var formateddate = Model.Date.ToString("dd MMMM yyyy");}
            @Html.DisplayFor(modelItem => formateddate)
        </dd>
        <dt>
            Vreme projekcije
        </dt>
        <dd>
            @{var formateddate2 = Model.Time.ToString("hh:mm tt");}
            @Html.DisplayFor(modelItem => formateddate2)
        </dd>
        <dt>
            Ukupan broj karata
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tickets)
        </dd>
        <dt>
            Cena karte
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Izmeni</a> |
    <a asp-action="Index">Nazad na listu dogadjaja</a>
</div>
