@model BioskopApp.Data.Movie

@{
    ViewData["Title"] = "Detalji";
}
  <!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <!-- DataTales Example -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h5 class="m-0 font-weight-bold text-primary">Detalji filma</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <dl class="dl-horizontal">
                                            <dt>
                                                Naziv
                                            </dt>
                                            <dd style="font-weight: bold; color: #858796;">
                                                @Html.DisplayFor(model => model.Name)
                                            </dd>
                                            <dt>
                                                Slika
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.Image)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(model => model.Highlighted)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.Highlighted)
                                            </dd>
                                            <dt>
                                                Kratki opis
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.Description)
                                            </dd>
                                            <dt>
                                                Trejler
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.Trailer)
                                            </dd>
                                            <dt>
                                                Opis
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.LongDescription)
                                            </dd>
                                            <dt>
                                                Slika repertoar
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.ImageRepertoar)
                                            </dd>
                                        </dl>
                                        <div>
                                            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-success btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                                <span class="text">Izmeni</span>
                                            </a>    
                                            <div class="my-2"></div>  
                                            <a asp-action="Index" class="btn btn-secondary btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-arrow-left"></i>
                                                </span>
                                                <span class="text">Nazad na listu</span>
                                            </a>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

